{% extends 'base.html' %}

{%block content%}
<div>
  <!--<div><img src="css/Images/nobacklog.png" alt="Logo" style="width: 80%;"></div>-->
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'logout' %}?next={{ request.path }}" class="topleft">
      {% csrf_token %}
      <button type="submit" style="background:none; border:none; padding:0; text-decoration:underline;">
          Logout
      </button>
  </form>
  {% else %}
      <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
  {% endif %}  
</div>


 <h1>{{event.name}}</h1>
 <p>{{event.description}}</p>
 <p>Start time: {{event.start_time_and_date}}</p>
 <p>End time: {{event.end_time}}</p>
 <p>Event at: {{event.event_location}}</p>
 <p> Our available services are (have these link to the service detail later on): 
    {% if event.services.all %}
      <ul>
        {% for service in event.services.all %}
            <li>{{ service.name }}</li> {%comment%} have this link to the service detail later on {%endcomment%}
        {% endfor %}
      </ul>
    {% else %}
        No services available for this event.
    {% endif %}
 </p>

  {% if user.is_superuser %}
  <p><a href="{% url 'Cosmetology:event_edit' event.id %}">Edit this event</a></p>
  <p><a href="{% url 'Cosmetology:event_delete' event.id %}">Delete this event</a></p>
  <a href="{% url 'Cosmetology:event_add' %}">Create new event</a>
  {% endif %}




{% endblock %}