
{% extends 'base.html' %}
{% load static %}

{%block content%}

<body>
    <nav>
        <!--<div><img src="css/Images/nobacklog.png" alt="Logo" style="width: 80%;"></div>-->
        <section>
            <h4 class="topleft">
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; padding:0; text-decoration:underline;">
                        Logout
                    </button>
                </form>
                {% else %}
                    <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
                {% endif %}  
            </h4>
            <h2 style="font-size: 4vw; margin-bottom: 0vw;">ACC COSMETOLOGY</h2>
            <ul style="margin-top: 1vw; margin-bottom: 1vw; color: #D0312D;">
            <li style="display: inline-block; padding-right: 3vw;">
                {% if user.is_superuser %}
                    <a href="{% url 'Cosmetology:admin_user_appointments' %}">Appointments</a>
                {% else %}
                    <a href="{% url 'Cosmetology:user_appointments' %}">Appointments</a>
                {% endif %}
            </li>
            
            <li style="display: inline-block; padding-right: 3vw;"><a href="#services">Services</a></li>
            <li style="display: inline-block; padding-right: 3vw;"><a href="#events">Events</a></li>
            <li style="display: inline-block; padding-right: 3vw;"><a href="#contact">Contact Us</a></li>
            </ul>
        </section>
    </nav>
<section id="homepage" style="padding-top: 13vw;">
    <div class="section-divider"></div>
    <h1>PLACEHOLDER</h1>
</section>

<section id="services">
    <div class="section-divider"></div>
    <h1>OUR SERVICES</h1>
    {% for service in services %}
    <div class="{% if forloop.counter0|divisibleby:2 %}box1{% else %}box2{% endif %}">
        <h4 class="service-title"> {{ service.name|upper }} </h4>
        <div class="service-description">{{ service.service_description }}</div>
        <div class="service-price">{{ service.price }}$</div>

        {% if user.is_authenticated %}
        {% if user.is_superuser %}
          <a href="{% url 'Cosmetology:service_edit' service.id %}" class="button-81">Edit</a>
          <a href="{% url 'Cosmetology:service_delete' service.id %}" class="button-81">Delete</a>
        {% else %}
          <!--do something here i forgot what to type-->
          <a href="{% url 'Cosmetology:appoinment_create' service.id %}" class="button-81">Book</a>
        {% endif %}
        {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Login</a><a href="{% url 'login' %}?next={{ request.path }}">Login</a>
        <a href="{% url 'Cosmetology:service_add' %}" class="button-81">Create Service</a>
        {% endif %}
        {% if user.is_superuser %}
        {% endif %}
        </div>
        {% if user.is_superuser %}
        <div class="center-container">
            <a href="{% url 'Cosmetology:service_add' %}" class="button-81">Add A Service</a>
        </div>
        {% endif %}
</section>
{% empty %}
<p>No services available at the moment.</p>
{% endfor %}

<section id="events">
    <div class="section-divider"></div>
    <h1>EVENTS</h1>
    <table style="width: 90%; margin: 1vw auto;">
    <thead>
        <tr>
        <th>Name</th>
        <th>Start</th>
        <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
        <td>
            <a href="{% url 'Cosmetology:event_detail' event.id %}" class="service-description">
            {{event.name|upper}}
            </a>
        </td>
        <td>{{event.start_time_and_date}}</td>
        <td>{{event.event_location}}</td>
        </tr>
        {% empty %}
        <tr>
        <td colspan="3">No events available.</td>
        </tr>
        {% endfor %}
</tbody>
</table>
{% if user.is_superuser %}
<div class="center-container">  
   <a href="{% url 'Cosmetology:event_add' %}" class="button-81">Create an Event</a>  
</div>
   
{% endif %}
</section>

<section id="contact" style="background-color: #D0312D; padding: 1vw;">
    <div class="section-divider2"></div>
    <h3 style="color: white;">Contact Us</h3>
    <div class="section-divider2"></div>
    <h4 style="color: white; text-align: center; font-size: 2.5vw;">For more information, please contact:</h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Phone: 123-456-7890</h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Email: rosenia.peake@apsva.us </h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Address: 816 S. Walter Reed Drive, Arlington, VA 22204</h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Hours: 8:00 AM - 4:00 PM</h4>

</section>

{% endblock %}
