
{% extends 'base.html' %}
{% load static %}

{%block content%}

<body>
    <nav>
            <div>
                <!--<div><img src="css/Images/nobacklog.png" alt="Logo" style="width: 80%;"></div>-->
                {% if user.is_authenticated %}
                <form method="post" action="{% url 'account_logout' %}?next={{ request.path }}" class="topleft">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; padding:0; text-decoration:underline;">
                        Logout
                    </button>
                </form>
                {% else %}
                <a href="{% url 'account_login' %}?next={{ request.path }}">Login</a> |
                <a href="{% url 'account_signup' %}?next={{ request.path }}">Sign up</a>
                {% endif %}  
            </div>
            <section class="typewriter" style="font-size: 4vw; margin-bottom: 0vw;"><h2>ACC COSMETOLOGY</h2></section>
            <ul style="margin-top: 1vw; margin-bottom: 1vw; color: #D0312D;">
            <li style="display: inline-block; padding-right: 3vw;">
                {% if user.is_superuser %}
                    <a href="{% url 'Cosmetology:admin_user_appointments' %}">Appointments</a>
                {% else %}
                    <a href="{% url 'Cosmetology:user_appointments' %}">Appointments</a>
                {% endif %}
            </li>
            
            <li style="display: inline-block; padding-right: 3vw;"><a href="#services">Services</a></li>
            <li style="display: inline-block; padding-right: 3vw;"><a href="#events">Events</a></li>
            <li style="display: inline-block; padding-right: 3vw;"><a href="#contact">Contact Us</a></li>
            </ul>
    </nav>
<section id="homepage" style="padding-top: 13vw;">
    <div class="section-divider"></div>
    <h1>PLACEHOLDER</h1>
</section>

<section id="services">
<div class="section-divider"></div>
<div>
    <h1>OUR SERVICES</h1>
    {% for service in services %}
    <div class="{% if forloop.counter0|divisibleby:2 %}box1{% else %}box2{% endif %}">
        <div class="service-title-container">
        <h4 class="service-title"> {{ service.name|upper }} </h4>
    {% if user.is_superuser %}
        <a href="{% url 'Cosmetology:service_edit' service.id %} " style="display: inline-block; padding-left: 1vw; font-size: 1.4vw;">Edit</a>
        <a href="{% url 'Cosmetology:service_delete' service.id %}" style="display: inline-block;  padding-left: 1vw; font-size: 1.4vw;">Delete</a>
    {% endif %}
        </div>
        <div>
        <p class="service-description">{{ service.service_description }}</p>
        <p class="price">{{ service.price }}$</p>

        {% if user.is_authenticated %}
        <!--do something here i forgot what to type-->
        <a href="{% url 'Cosmetology:user_appointment_pick_event_create'%}" class="button-81">Book</a>
        {% endif %}
        </div>
    </div>
</section>
{% empty %}
<p>No services available at the moment.</p>
{% endfor %}
<div>
    {% if user.is_superuser %}
    <div class="center-container">  
    <a href="{% url 'Cosmetology:service_add' %}" class="button-81">Add Service</a>
    {% endif %}
</div>

<section id="events">
    <div class="section-divider"></div>
    <h1>EVENTS</h1>
    <table style="width: 90%; margin: 1vw auto;">
    <thead>
        <tr>
        <th>Name</th>
        <th>Start</th>
        <th>Location</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
        <td>
            <a href="{% url 'Cosmetology:event_detail' event.id %}" class="service-description">
            {{event.name|upper}}
            </a>
        </td>
        <td>{{event.start_time_and_date}}</td>
        <td>{{event.event_location}}</td>
        </tr>
        {% empty %}
        <tr>
        <td colspan="3">No events available.</td>
        </tr>
        {% endfor %}
</tbody>
</table>
{% if user.is_superuser %}
<div class="center-container">  
   <a href="{% url 'Cosmetology:event_add' %}" class="button-81">Create an Event</a>  
</div>
   
{% endif %}
</section>

<section id="contact" style="background-color: #D0312D; padding: 1vw;">
    <div class="section-divider2"></div>
    <h3 style="color: white;">Contact Us</h3>
    <div class="section-divider2"></div>
    <h4 style="color: white; text-align: center; font-size: 2.5vw;">For more information, please contact:</h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Phone: 123-456-7890</h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Email: rosenia.peake@apsva.us </h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Address: 816 S. Walter Reed Drive, Arlington, VA 22204</h4>
    <h4 style="color: white; text-align: center; font-size: 1.8vw;">Hours: 8:00 AM - 4:00 PM</h4>

</section>

{% endblock %}
