{% extends 'base.html' %}
{% block title %}Services{% endblock %}
{% block content %}

<div>
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'account_logout' %}?next={{ request.path }}" class="topleft">
      {% csrf_token %}
      <button type="submit" style="background:none; border:none; padding:0; text-decoration:underline;">
          Logout
      </button>
  </form>
  {% else %}
     <a href="{% url 'account_login' %}?next={{ request.path }}">Login</a> |
     <a href="{% url 'account_signup' %}?next={{ request.path }}">Sign up</a>
  {% endif %}  
  <a href="{% url 'Cosmetology:index' %}" style="position: absolute; top: 0.6vw; right: 3vw; font-size: 1.5vw;">Go Back</a>
</div>


<h2>Reviews for ACC's Cosmetology</h2>
<div style="padding-left: 3vw;">
  <div class="review-container">
    {% if user.is_authenticated %}
    <p class="write-review">Write a review:</p>
    <form method="post" action="{% url 'Cosmetology:review_add' %}" class="review-form">
        {% csrf_token %}
        {{ form.as_p }}
    </form>
    {% endif %}

    {% if review_list %}
      <div class="review-grid">
        {% for review in review_list %}
        <div class="review-item">
            <strong class="review-author">{{ review.name }}</strong><br>
            <span class="review-rating">{{ review.get_stars_display }}</span><br>
            <p class="review-text">{{ review.text }}</p>
            <span class="review-meta">by {{ review.user.username }} | {{ review.time_and_date|date:"F j, Y" }}</span>
        </div>
        {% endfor %}
    </ul>
    </div>
    {% else %}
    <p class="no-reviews">No reviews yet</p>
    {% endif %}
</div>
</div>
{% endblock %}