{% extends 'base.html' %}

{% block content %}
<div>
  <!--<div><img src="css/Images/nobacklog.png" alt="Logo" style="width: 80%;"></div>-->
  {% if user.is_authenticated %}
  <form method="post" action="{% url 'account_logout' %}?next={{ request.path }}" class="topleft">
      {% csrf_token %}
      <button type="submit" style="background:none; border:none; padding:0; text-decoration:underline;">
          Logout
      </button>
  </form>
  {% else %}
     <a href="{% url 'account_login' %}?next={{ request.path }}">Login</a> |
     <a href="{% url 'account_signup' %}?next={{ request.path }}">Sign up</a>
  {% endif %}  
</div>

<h2>Our Service Providers:</h2>
<div style="padding-left: 3vw;">
{% if serviceprofessional_list %}
    <ul>
      {% for i in serviceprofessional_list %}
        <li>
          <strong>Name:</strong> {{ i.name }}<br>
          <strong>Period:</strong> {{ i.class_period}}<br>
          <strong>Services:</strong> 
          {% for j in i.services.all %}
          {{ j.name }}{% if not forloop.last %}, {% endif %} {%comment%}we can use forloop.last to not add a comma in the end{%endcomment%}
          {% endfor %} <br>
          {% if user.is_superuser %}
          <a href="{% url 'Cosmetology:service_provider_edit' i.pk%}">Edit service provider</a><br>
          <a href="{% url 'Cosmetology:service_provider_delete' i.pk %}">Delete service provider</a><br>
          {%endif%}
        </li>
      {% endfor %}
    </ul>
{% else %}
    <p>We currently have no providers. Please check in later.</p>
{% endif %}

{% if user.is_superuser %}
<a href="{% url 'Cosmetology:service_provider_add'%}">Create a service provider</a>
{%endif%}
</div>
{% endblock %}
