{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}?next={{ request.path }}">Login</a>
    {% endif %}
</div>

<h2>Our Services:</h2>
{% if service_list %}
    <ul>
      {% for i in service_list %}
        <li>
          <strong>Service:</strong> {{ i.name }}<br>
          <strong>Description:</strong> {{ i.service_description}}<br>
          {% if user.is_superuser %}
          <a href="{% url 'Cosmetology:service_edit' i.pk%}">Edit service</a><br>
          <a href="{% url 'Cosmetology:service_delete' i.pk %}">Delete service</a><br>
          {%endif%}
        </li>
      {% endfor %}
    </ul>
{% else %}
    <p>You have no appointments scheduled.</p>
{% endif %}

{% if user.is_superuser %}
<a href="{% url 'Cosmetology:service_add'%}">Create a service</a>
{%endif%}

{% endblock %}
