{% extends 'base.html' %}

{% block content %}
<nav>
  <section>
      <div>
          {% if user.is_authenticated %}
              <form method="post" action="{% url 'account_logout' %}?next={{ request.path }}" class="topleft">
          {% csrf_token %}
              <button type="submit" style="background:none; border:none; padding:0; text-decoration:underline;">
              Logout
              </button>
              </form>
          {% else %}
          <a href="{% url 'account_login' %}?next={{ request.path }}">Login</a> |
          <a href="{% url 'account_signup' %}?next={{ request.path }}">Sign up</a>
          {% endif %}
      </div>
      <h2 style="font-size: 4vw; margin-bottom: 0vw;">ACC COSMETOLOGY</h2>
      <ul style="margin-top: 1vw; margin-bottom: 1vw; color: #D0312D;">
      <li style="display: inline-block; padding-right: 3vw;">
          {% if user.is_superuser %}
              <a href="{% url 'Cosmetology:admin_user_appointments' %}">Appointments</a>
          {% else %}
              <a href="{% url 'Cosmetology:user_appointments' %}">Appointments</a>
          {% endif %}
      </li>
      
      <li style="display: inline-block; padding-right: 3vw;"><a href="{% url 'Cosmetology:index' %}">Services</a></li>
      <li style="display: inline-block; padding-right: 3vw;"><a href="{% url 'Cosmetology:index' %}">Events</a></li>
      <li style="display: inline-block; padding-right: 3vw;"><a href="{% url 'Cosmetology:index' %}">Contact Us</a></li>
      </ul>
  </section>
</nav>
<div style="padding-top: 10.5vw;">
<div class="section-divider"></div>

<h2>Your Appointments</h2>
<div style="padding-left: 3vw;">
{% if reservation_list %}
    <ul>
      {% for i in reservation_list %}
        <li>
          <strong>Event:</strong> {{ i.event.name }}<br>
          <strong>Time:</strong> {{ i.time_and_date }}<br>
          <strong>Location:</strong> {{ i.event.event_location }}<br>
          <strong>Professional:</strong> {{ i.professional.name }}<br>
          <strong>Services:</strong><br>
          <ul>
            {% for service in i.services.all %}
              <li>{{ service.name }}</li>
            {% empty %}
              <li>No services selected</li>
            {% endfor %}
          </ul>
          <a href="{% url 'Cosmetology:user_appointment_pick_event_update' i.pk%}">Edit this appointment</a><br>
          <a href="{% url 'Cosmetology:user_appointment_cancel' i.pk %}">Cancel</a><br>
        </li>
      {% endfor %}
    </ul>
{% else %}
    <p>You have no appointments scheduled.</p>
{% endif %}

<a href="{% url 'Cosmetology:user_appointment_pick_event_create'%}">Book an appointment</a>
</div>
{% endblock %}
