<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ACC Cosmetology{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'cosmetology/styles.css' %}">
</head>
<body>

  <header>
    <h1>ACC COSMETOLOGY</h1>
    <nav>
      <a href="{% url 'reservation' %}">reservation</a> |
      <a href="{% url 'events' %}">events</a> |
      <a href="{% url 'services' %}">services</a>
      <a href="{% url 'reviews' %}">reviews</a> |
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <footer>
    <p>Contact us | Email: acc@example.com | Phone: 555-555-5555</p>
  </footer>

</body>
</html>
