{% extends 'cosmetology/base.html' %}
{% block title %}Services{% endblock %}
{% block content %}
<h2>OUR SERVICES</h2>

{% for service in services %}
<section>
  <div class="service-title">{{ service.name|upper }}</div>
  <div class="service-description">{{ service.description }}</div>
  <div class="price">${{ service.price }}</div>

  {% if user.is_authenticated %}
    <a href="{% url 'service_add' %}" class="button">Book</a>
    <a href="{% url 'service_edit' service.id %}" class="button">Edit</a>
    <a href="{% url 'service_delete' service.id %}" class="button">Delete</a>
  {% endif %}
</section>
{% endfor %}

{% endblock %}